/*
font de google open sans
color del border #bdc3c7
color de la data #3498db
linia divisora d'articles https://codepen.io/Oddgson/pen/VPrYbv

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;;
}

body{
    border: 10px solid #bdc3c7;
    margin: 10px auto;
    width: 75%;
    padding: 15px;
    font-size: 15px;

}
