
  /*Centrar horari*/
  .header {
    width: 100%;
  }
  nav{
    width: 75%;
    margin: 0 auto;
  }

  /*Bordes horari*/

  table, th, td {
    border-style: ridge;
    border-color: black;
    border-width: 3px;
    text-align: center;
    
    }

  tr :hover {
    background-color:black;
    color: white;
  }

  /*Colors assignatures*/

  .dia {
  background-color: blue;
  color: white;
}

  .hores {
  background-color: blueviolet;  
  color: brown; 
}
  .Sistemes{
  background-color: burlywood;
  color: rgb(82, 4, 4);
}
  .Serveis{
  background-color: cadetblue;
  color: rgb(82, 4, 4);
}

  .Seguretat{
  background-color: rgb(113, 118, 192);
  color: rgb(82, 4, 4);
  }
  .EIE{
  background-color: cyan;
  color: rgb(82, 4, 4);
}
    .Aplicacions{
  background-color: yellow;
  color: rgb(82, 4, 4);
}
  .Pati{
  background-color: thistle;
  color: rgb(82, 4, 4);
}