#menu ul li {
    background-color: blue;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
  }
   #menu ul li a {
      text-decoration: none;
      color:red;
  }
  #menu ul li a:hover {
    background-color: black;
    color: white;
  }

  
h1 {
    text-align: center;
}
body{
    background-color: white;
}

table{
    background-color: white;
}

td{
    padding: 100px;
    text-align: center;
    border:1px solid black ;
}


div{
    display: flex;
    justify-content: center;
}

.Q0{
    border: none;
}
.Q2{
    border-top: none;
    border-bottom: none;
}

.Q4{
    border-left: none;
    border-right: none;
}

.Q6{
    border-left: none;
    border-right: none;
}
.Q8{
    border-bottom: none;
    border-top: none;
}