/*menu navegacio*/
 
h1 {
    text-align: center;
}
body{
    background-color: white;
}

table{
    background-color: white;
}

td{
    padding: 100px;
    text-align: center;
    border:1px solid black ;
}


div{
    display: flex;
    justify-content: center;
}

.Q0{
    border: none;
}
.Q2{
    border-top: none;
    border-bottom: none;
}

.Q4{
    border-left: none;
    border-right: none;
}

.Q6{
    border-left: none;
    border-right: none;
}
.Q8{
    border-bottom: none;
    border-top: none;
}